.nav-item {
  font-size: 2rem;
  padding-right: 2rem;
  padding-top: 6rem;
  margin-right: 3rem; }

#slider {
  position: relative; }

#sliderText {
  position: absolute;
  top: 40%;
  text-align: center;
  left: 40%; }

#sliderText h4 {
  color: #FFF;
  font-size: 8rem; }

#sliderText p {
  color: #FFF;
  font-size: 2rem; }

@media only screen and (max-width: 450px) {
  #sliderText {
    position: absolute;
    top: 30%;
    text-align: center;
    left: 20%; }
  #sliderText h4 {
    font-size: 4rem; }
  #sliderText p {
    font-size: 1rem; } }

* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

p {
  font-size: 1.6rem; }

h1 {
  font-size: 2rem; }

/*Variables*/
/*SCSS*/
.slider {
  margin: auto;
  padding: 0px; }

#imgaboutus {
  padding: 30px; }

.aboutustext {
  padding: 100px 60px 0 60px; }

.aboutustext h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: #0b0b0b; }

#aboutus p {
  text-align: center; }

#aboutus a {
  text-align: right;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 50px;
  display: block;
  font-size: 1rem;
  color: #0b0b0b; }

#aboutus {
  width: 25%; }

@media only screen and (max-width: 768px) {
  .aboutustext {
    padding: 20px 60px 100px 60px; }
  #aboutus {
    width: 100%; } }

@media only screen and (max-width: 450px) {
  .aboutustext {
    padding: 20px 60px 100px 60px; } }

.projects {
  display: grid;
  grid-template-rows: repeat(2, 386px);
  grid-template-columns: repeat(3, 420px);
  grid-row-gap: 60px;
  grid-column-gap: 20px;
  grid-template-areas: "img1 img2 img3" "img4 img2 img5";
  justify-content: center;
  padding-bottom: 200px; }

#imgproject1 {
  grid-area: img1; }

#imgproject2 {
  grid-area: img2; }

#imgproject3 {
  grid-area: img3; }

#imgproject4 {
  grid-area: img4; }

#imgproject5 {
  grid-area: img5; }

.projectContent {
  padding-top: 10px; }

.projects a {
  color: #0b0b0b;
  text-decoration: none;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.projects a:hover {
  color: #424242;
  text-decoration: none; }

.project-ef a img {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.project-ef a img:hover {
  opacity: 0.7; }

@media only screen and (max-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: 386px 386px 789px 386px 386px;
    grid-template-areas: "img1" "img3" "img2" "img4" "img5";
    justify-content: center; } }

@media only screen and (max-width: 450px) {
  .projects {
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: 386px 386px 789px 386px 386px;
    grid-template-areas: "img1" "img3" "img2" "img4" "img5";
    justify-content: center; }
  .projectContent {
    padding-top: 10px;
    padding-left: 40px; } }

.project {
  padding: 60px 60px 0 60px !important; }

.project p {
  color: #797979;
  line-height: 150%; }

.project h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: #0b0b0b; }

.projectblack {
  background-color: white; }

#proyectoacantilados {
  padding-top: 30px; }

#proyectocasa h2 {
  color: #FFF; }

#proyectocasa p {
  color: #FFF; }

.bordersectionp {
  border-top: 1px solid #e9e9e9;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  left: 15%; }

.bordertopfinal {
  padding-bottom: 50px;
  margin-top: 40px; }

#services {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px; }

#services .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  overflow: hidden; }

#services .col-sm-12 {
  overflow: hidden; }

.thumbnail {
  position: relative; }

.tittle {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #0b0b0b;
  border-top: 1px solid #e9e9e9;
  text-transform: uppercase;
  text-align: center; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease; }

.ourservices:hover .overlay {
  background: rgba(0, 0, 0, 0.6); }

.ourservices {
  position: relative;
  display: block;
  float: left;
  width: 33.3333%;
  text-decoration: none; }

.ourservices img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.ourservices:hover img {
  opacity: 0; }

.ourservices:hover h3 {
  color: black; }

.ourservices:hover p {
  color: black; }

.ourServiceItemContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ourServiceItemContent h3 {
  line-height: 28px;
  margin-bottom: 22px;
  padding: 0 20px;
  color: #FFF;
  font-size: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }

.ourServiceItemContent p {
  line-height: 26px;
  max-height: 78px;
  padding: 0 50px;
  color: #FFF;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }

#servicestext {
  width: 25%;
  padding: 50px 0 100px 0;
  margin-bottom: 50px; }

#servicestext p {
  text-align: center;
  color: #0b0b0b; }

@media only screen and (max-width: 768px) {
  #servicestext {
    width: 100%; } }

#contact {
  justify-content: center; }

#contactittle {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #0b0b0b;
  border-top: 1px solid #e9e9e9;
  text-transform: uppercase;
  text-align: center; }

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease; }

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px; }

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%; } }

@media only screen and (max-width: 450px) {
  #contact {
    padding-bottom: 120px; } }

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none; }

.styled-input.wide {
  width: 650px;
  max-width: 100%; }

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px; }

input:focus,
textarea:focus {
  outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease; }

textarea {
  width: 100%;
  min-height: 15em; }

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto; }

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09); }

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center; } }

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic; }

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal; }

footer {
  background-color: #FFF;
  padding: 40px 0 40px 0;
  margin-top: 20px;
  align-items: center;
  border-top: 1px solid #e9e9e9; }

footer a {
  text-decoration: none;
  color: #0b0b0b; }
