.projects{
    display: grid;
    grid-template-rows: repeat(2, 386px); 
    grid-template-columns: repeat(3, 420px);
    grid-row-gap:20px;
    grid-column-gap:20px;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img2 img5";
    justify-content: center;
    padding-bottom: 70px;
}



#imgproject1{
    grid-area: img1;
}

#imgproject2{
    grid-area: img2;
}

#imgproject3{
    grid-area: img3;
}

#imgproject4{
    grid-area:img4;
}

#imgproject5{
    grid-area:img5;
}
